[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/shop-venv/bin/uwsgi -i /srv/ishopping-back/.config/uwsgi/ishopping.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
